<header>
  <div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12">
        <div class="home-text mx-auto text-center">
          <h4>قال رسول الله صلى الله عليه وسلم</h4>
          <h1 class="fw-semibold my-3">
            خَيْرُكُمْ مَن تَعَلَّمَ القُرْآنَ وعَلَّمَهُ
          </h1>
          <h4>اللهم صل و سلم على نبينا محمد افضل الصلوات و اتم التسليم</h4>
        </div>
      </div>
      <div class="col-12">
        <div
          class="home-buttons d-flex justify-content-center align-items-center mt-3"
        >
          <button class="btn mx-2">
            <a routerLink="/mushaf"> قراءة القرآن</a>
          </button>
          <button class="btn mx-2">
            <a routerLink="/reciters">الإستماع إلى القرآن</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
