<section id="prayersCalender">
  <div class="container table-responsive">
    <table class="table">
      <thead>
        <tr>
            <th scope="col">التاريخ</th>
            <th scope="col">الشروق</th>
            <th scope="col">الفجر</th>
            <th scope="col">الظهر</th>
            <th scope="col">العصر</th>
            <th scope="col">المغرب</th>
            <th scope="col">العشاء</th>
        </tr>
      </thead>
      <tbody>
            @for(prayers of PrayerTimesCalender ; track prayers.id){
                  <tr>
                        <td>{{ prayers.date.gregorian.date }}</td>
                        <td>{{ prayers.timings.Sunrise }}</td>
                        <td>{{ prayers.timings.Fajr }}</td>
                        <td>{{ prayers.timings.Dhuhr }}</td>
                        <td>{{ prayers.timings.Asr }}</td>
                        <td>{{ prayers.timings.Maghrib }}</td>
                        <td>{{ prayers.timings.Isha }}</td>
                    </tr>
            }

      </tbody>
    </table>
  </div>
</section>
