<footer>
  <section class="footer-top py-4">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="row">
            <div class="col-12">
              <div class="logo-container">
                <img src="assets/images/quran.png" alt="al-quran logo" />
                <span class="fw-semibold me-3">القرآن - Al-Quran</span>
              </div>
              <p class="fw-medium mt-2">
                موقع القرآن الكريم هو صدقة جارية . يوفر لك العديد من الخدمات
                الدينية المتنوعة، حيث يمكنك من خلاله قراءة القرآن الكريم،
                والاستماع إليه بصوت القراء المشهورين. بالإضافة إلى ذلك، يمكنك
                معرفة مواقيت الصلاة الدقيقة لمدينتك، وتذكيرك بالأذكار والأدعية
                اليومية.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
            <h5 class="mt-lg-3">الروابط المفيدة</h5>
            <ul>
                  <li><a [routerLink]="['/home']">الصفحة الرئيسية</a></li>
                  <li><a [routerLink]="['/mushaf']">قراءة القرآن</a></li>
                  <li><a [routerLink]="['/reciters']">تلاوة</a></li>
                  <li><a [routerLink]="['/prayer-times']">مواقيت الصلاة</a></li>
                  <li><a [routerLink]="['/adhkar']">الأذكار</a></li>
            </ul>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </section>
  <section class="footer-bottom text-center">
    <p>© ٢٠٢٤ <span class="mx-2 fw-semibold">Nour Elrashidy</span> كل الحقوق محفوظة</p>
  </section>
</footer>
