<div class="container">
  <div class="row" dir="rtl">
    <div class="col-4">
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="selectedReciterId"
        (change)="getOneReciterData()"
      >
        @for (reciter of reciters; track reciter.id) {
        <option [value]="reciter.id">
          {{ reciter.name }}
        </option>
        }
      </select>
    </div>
    <div class="col-4">
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="selectedOneMoshaf"
        (change)="onMoshafSelected($event)"
      >
        @for (moshaf of selectedReciterMoshaf; track moshaf.id) {
        <option [value]="moshaf.id" [attr.data-surah_list]="moshaf.surah_list">
          {{ moshaf.name }}
        </option>
        }
      </select>
    </div>
    <div class="col-4">
      <select
        class="form-select"
        aria-label="Default select example"
        (change)="selectedSuarh($event)"
      >
        @for (sura of suwar; track sura.id) {
        <option value="{{ sura.server }}{{ sura.id }}.mp3">
          {{ sura.name }}
        </option>
        }
      </select>
    </div>
  </div>
</div>
